.dis-flex {
  display: flex; }

.align-items-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.justify-content-space-between {
  justify-content: space-between; }

.flex-direction-column {
  flex-direction: column; }

.header {
  height: 10vh;
  width: 100%;
  margin-bottom: 10rem; }
  .header .logo {
    display: flex;
    align-items: center;
    padding-left: 3rem; }
    .header .logo div {
      margin-left: 1rem; }
    .header .logo span {
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: center;
      border-radius: 50%;
      background-color: #458ff6;
      color: white;
      width: 1.8rem;
      height: 1.8rem; }
  .header .navigation {
    margin-right: 2rem; }
    .header .navigation .list {
      display: flex;
      list-style: none; }
      .header .navigation .list a {
        text-decoration: none;
        margin: 1rem; }

.first-section {
  padding-left: 4rem; }
  .first-section .first-content {
    width: 50%; }
  .first-section img {
    margin-right: 2rem;
    width: 50%; }
  .first-section .f-button {
    border-radius: 1.5rem;
    border-color: #458ff6;
    background-color: #458ff6;
    font-family: Muli;
    color: white;
    height: 40px; }
