body {
  font-family: Muli; }

.dis-flex {
  display: flex; }

.align-items-center {
  align-items: center; }

.justify-content-center {
  justify-content: center; }

.justify-content-space-between {
  justify-content: space-between; }

.flex-direction-column {
  flex-direction: column; }

.header {
  height: 10vh;
  width: 70%;
  margin: auto;
  margin-bottom: 6rem; }
  .header .header_logo {
    display: flex;
    align-items: center;
    padding-left: 3rem; }
    .header .header_logo .header-logo_text {
      margin-left: 1rem; }
    .header .header_logo .header-logo_span {
      display: flex;
      align-items: center;
      justify-content: center;
      vertical-align: center;
      border-radius: 50%;
      background-color: #458ff6;
      color: white;
      width: 1.8rem;
      height: 1.8rem; }
  .header .header_navigation {
    margin-right: 6rem; }
    .header .header_navigation .header-navigation_list {
      display: flex;
      list-style: none; }
      .header .header_navigation .header-navigation_list a {
        text-decoration: none;
        margin: 1rem; }

.content {
  margin: auto;
  width: 70%; }
  .content .content_block {
    padding: 3rem;
    width: 50%; }
  .content img {
    margin-right: 6rem;
    width: 50%; }
  .content .content-block_buton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    border-color: #458ff6;
    background-color: #458ff6;
    font-family: Muli;
    color: white;
    height: 60px;
    width: 200px; }
    .content .content-block_buton a {
      text-decoration: none;
      color: white; }
