


.dis-flex {
	display: flex;
}
.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}


.flex-direction-column {
	flex-direction: column;
}



.header {
	height: 10vh;
	width: 100%;
	margin-bottom: 10rem;
	.logo {
		display: flex;
		align-items: center;
		padding-left: 3rem;
		div {
			margin-left: 1rem;
		}
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			vertical-align: center;
			border-radius: 50%;
			background-color: #458ff6;
			color: white; 
			width: 1.8rem;
			height: 1.8rem;

		}
	}
	.navigation {
		margin-right: 2rem;
		.list {
			display: flex;
			list-style: none;
			a {
				text-decoration: none;
				margin: 1rem;
			}

		}
	}
}

.first-section {
	padding-left: 4rem;
	.first-content {
		width: 50%;
	}
	img {
		margin-right: 2rem;
		width: 50%;
	}
	.f-button {
		border-radius: 1.5rem;
		border-color: #458ff6;
		background-color: #458ff6;
		font-family: Muli;
		color: white;
		height: 40px;
	}

}